@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  background-color: black;
  color: white;
  font-family: Inter, sans-serif;
  font-optical-sizing: auto;
  font-size: calc(12px + 1.5vw);
  margin: 0;
}

main {
  h1 {
    font-size: 2.5em;
    text-align: center;
  }
  
  p, ul {
    margin-inline: calc(24px + 2vw);
  }
  
  ul {
    margin-left: 0px;
    list-style-type: none;
    padding-left: calc(24px + 2vw);
  }

  ul > li::before {
    content: ">";
    font-weight: bold;
    margin-right: 12px;
  }

  a {
    color: lightblue;
    text-decoration: none;
    font-weight: bold;
  }
  
  &:is(#e404) {
    height: 50vh;
    display: grid;
    place-items: center;
  }
  
  &:is(#e404) > span {
    display: block;
    margin-block: 1em;
  }
}

nav {
  & {
    background-color: white;
    padding: 12px 36px;
    position: sticky;
    top: 0;
  }
  
  a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin-right: 24px;
    vertical-align: middle;
  }
  
  #home {
    font-size: 2em;
  }
}
